[submodule "thirdparty/juce"]
	path = thirdparty/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "External/JUCE"]
	path = External/JUCE
	url = https://github.com/juce-framework/JUCE.git
